.App {
  text-align: center;
  display: inline-block;

  border: 2px;
  min-height: 100vh;
  background-color: rgba(23, 212, 23, 0.507);
}

.App-style {
  display: inline-block;
  margin: 10px;
  border: 10px rgb(230, 23, 23);
  box-shadow: 0 2px 2px rgb(17, 17, 17);
  box-sizing: 200px 200px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(47, 173, 31);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
